@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Wix+Madefor+Text&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	flex-wrap:wrap;
	font-family: Wix Madefor Text, sans-serif;
}
.clearfix{
	display:flex;
}
.flex1{
	flex:25%;
}
.flex2{
	flex:50%;
}
.flex3{
	flex:75%;
}
.flex4{
	flex:100%;
}



/***************************************section 1 start*******************************/
.menubar{
	width:100%;
	background-color:rgb(14, 29, 52);
	padding:20px 30px;
	position:sticky;
	top:0;
	z-index:2;
}
.menu{
	overflow:hidden;
	padding-top:10px;
}
.menu li{
	display:inline;
}
.menu li a{
	text-decoration:none;
	display:inline-block;
	color:white;
	margin-left:40px;
}
.b-1{
	float:right;
	color:white;
	border-radius:6px;
	padding:13px 35px;
	cursor:pointer;
	display:inline-block;
	outline:none;
	z-index:1;
	background-color:#0d42ff;
	border:none;
	transition:0.5s;
}
.b-1:hover{
	background-color:#2f5af5;
}
.sec1-h1{
	color:white;
	font-weight:bold;
	font-size:30px;
	padding:0px 0px 0px 90px;
}
@media (max-width:1225px){
	.menu li a {
		margin-left:30px;
	}
}
@media (max-width:1104px){
	.menu li a {
		margin-left:23px;
	}
}
@media (max-width:1024px){
	.menu{
		display:none;
	}
}
@media (max-width:576px){
	.sec1-h1{
		padding:0px 0px 0px 30px;
	}
}
@media (max-width:425px){	
	.sec1-h1{
		padding:0px;
		font-size:24px;
	}
	.b-1{
		padding:11px 19px;
		font-size:11px;
	}
}

/***************************************section 1 end*********************************/



/***************************************section 2 start*********************************/
.about_sec2 .sec1 .bg-img1{
	  background: linear-gradient(rgba(14, 29, 52, 0.8), rgba(14, 29, 52, 0.8)), url("../image/page-header.jpg") center center;
	  background-size: cover;
	  padding: 110px 0px;
}
.about_sec2 .sec1 .bg-img2{
	background-color: rgb(243, 246, 252);
	padding: 20px 0px 20px 100px;
}
.about_sec2 .sec1 .bg-img1 .sec2-h1{
    text-align: center;
    font-size: 55px;
    color: white;
	padding-bottom: 15px;
}
.about_sec2 .sec1 .bg-img1 .sec2-h2{
    color: lightgray;
    text-align: center;
    width: 710px;
    display: block;
    font-size: 17px;
    margin: auto;
}
.about_sec2 .sec1 .bg-img2 p .sec2-h3{
	color: #0d42ff;
	text-decoration: none;
}
@media (max-width:768px){
	.about_sec2 .sec1 .bg-img1 .sec2-h2{
		width: 530px;
		font-size: 15px;
	}
}
@media (max-width:576px){
	.about_sec2 .sec1 .bg-img1 .sec2-h1{
		font-size: 40px;
	}
	.about_sec2 .sec1 .bg-img1 .sec2-h2{
		width: 91%;
		font-size: 12px;
	}
}
/***************************************section 2 end*********************************/



/***************************************section 3 start*******************************/
.bg-img3{
	padding: 80px 119px;
}
.sec4-h1{
	color: #001f8d;
    font-size: 33px;
    font-weight: bold;
    padding-bottom: 15px;
}
.sec4-h2{
	color: #0A0d13;
    font-size: 17px;
    line-height: 25px;
}
.sec4-h3{
	color:#19335c;
	font-size: 17px;
	padding-bottom: 10px;
}
.box4{
	margin-top: 45px;
}
.box-div6{
	position: relative;
}
.about-img{
	width: 100%;
	padding-left: 50px;
}
.play-btn{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-89%);
	display: none;
}
@media(max-width:1024px){
	.bg-img3{
		flex-direction: column-reverse;
	}
	.play-btn{
		display: block;
	}
	.about-img{
		padding: 0px 0px 40px 0px;
	}
}
@media (max-width:576px){
	.bg-img3{
		padding: 80px 60px;
	}
}
@media (max-width:425px){
	.bg-img3{
		padding: 60px 50px;
	}
	.sec4-h2, .sec4-h3{
		font-size: 14px;
	}
	.sec4-h4{
		font-size: 12px;
	}
	.fa-diagram-project, .fa-compress, .fa-tower-broadcast{
		font-size: 35px !important;
	}
	.play-btn{
		width: 25%;
	}
}
/***************************************section 3 end*********************************/



/***************************************section 4 start******************************/
.about_sec4 .bg-img4{
	    padding: 20px 119px;
}
.about_sec4 .bg-img4 .box-div1 .box3 .box1 .hr1, .about_sec4 .bg-img4 .box-div1 .box3 .box2 .hr1{
	border: 2px solid blue;
    width: 30px;
    margin: auto;
    margin-top: 33px;
}
.about_sec4 .bg-img4 .box-div1 .box3 .box1 .sec3-h1, .about_sec4 .bg-img4 .box-div1 .box3 .box2 .sec3-h1{
	text-align: center;
    font-size: 50px;
}
.about_sec4 .bg-img4 .box-div1 .box3 .box1 .sec3-h2, .about_sec4 .bg-img4 .box-div1 .box3 .box2 .sec3-h2{
	text-align: center;
    font-weight: 900;
    font-size: 17px;
    padding-top: 25px;
}
@media (max-width:992px){
	.about_sec4 .bg-img4 .box-div1 .box3{
		flex-direction: column;
	}
	.about_sec4 .bg-img4 .box-div1 .box3 .box1{
		margin-bottom: 30px;
	}
}
@media (max-width:768px){
	.about_sec4 .bg-img4 .box-div1{
		flex-direction: column;
	}
	.about_sec4 .bg-img4 .box-div1 .box3 .box1{
		margin-bottom: 40px;
	}
}
@media (max-width:425px){
	.about_sec4 .bg-img4{
		padding: 20px 40px;
	}
}
/***************************************section 4 end*********************************/




/***************************************section 5 start*******************************/
.about_sec5 .bg-img5{
	padding: 70px 119px;
}
.about_sec5 .bg-img5 .box-div4 .box-div2{
	border: 1px solid lightgray;
    margin-right: 25px;
}
.about_sec5 .bg-img5 .box-div4 .box-div3{
	border: 1px solid lightgray;
}
.about_sec5 .bg-img5 .box-div4 .box-div2 .box5, .about_sec5 .bg-img5 .box-div4 .box-div3 .box5{
	margin: 15px 0px 35px;
	justify-content: center;
}
.about_sec5 .bg-img5 .box-div4 .box-div2 .box5 .i1,.about_sec5 .bg-img5 .box-div4 .box-div3 .box5 .i1{
    padding-right: 5px;
	color:grey;
	transition: 0.2s;
}
.about_sec5 .bg-img5 .box-div4 .box-div2 .box5 .i1:hover, .about_sec5 .bg-img5 .box-div4 .box-div3 .box5 .i1:hover{
	color: #0d42ff;
}
.about_sec5 .bg-img5 .box-div4 .box-div2 .box5 .i2, .about_sec5 .bg-img5 .box-div4 .box-div3 .box5 .i2{
	color: grey;   
	transition: 0.2s;
}
.about_sec5 .bg-img5 .box-div4 .box-div2 .box5 .i2:hover, .about_sec5 .bg-img5 .box-div4 .box-div3 .box5 .i2:hover{
	color: #0d42ff;
}
.t-img1{
	width: 100%;
}
.about_sec5 .bg-img5 .box-div4 .box-div2 .sec5-h1, .about_sec5 .bg-img5 .box-div4 .box-div3 .sec5-h1{
	font-size: 18px;
    text-align: center;
    padding-top: 20px;
}
.about_sec5 .bg-img5 .box-div4 .box-div2 .sec5-h2, .about_sec5 .bg-img5 .box-div4 .box-div3 .sec5-h2{
	text-align: center;
    color: grey;
    font-size: 12px;
    padding-top: 5px;
}
.about_sec5 .bg-img5 .box-div4 .box-div2 .sec5-h3, .about_sec5 .bg-img5 .box-div4 .box-div3 .sec5-h3{
	text-align: center;
    font-size: 14px;
    width: 94%;
    margin: auto;
    color: grey;
    padding-top: 24px;
}
.about_sec5 .bg-img5 .sec5-h4{
	text-align: center;
    padding-bottom: 60px;
    font-size: 33px;
    color: #001973;
}
@media (max-width:1024px){
	.about_sec5 .bg-img5 .box-div4 .box-div3{
		display: none;
	}
	.about_sec5 .bg-img5{
		padding: 70px 65px;
	}
}
@media (max-width:768px){
	.about_sec5 .bg-img5 .box-div4 .box-div2{
		margin-bottom: 30px;
		margin-right: 0px;
	}
	.about_sec5 .bg-img5 .box-div4 .box-div3{
		display: block;
	}
	.about_sec5 .bg-img5 .box-div4{
		flex-direction: column;
	}
	.about_sec5 .bg-img5{
		padding: 70px 100px;
	}
}
@media (max-width:576px){
	.about_sec5 .bg-img5{
		padding: 70px 70px;
	}
}
@media (max-width:425px){
	.about_sec5 .bg-img5{
		padding: 70px 40px;
	}
}
/***************************************section 5 end*********************************/




/***************************************section 9 start*******************************/
.bg-img8{
	background: linear-gradient(rgba(14, 29, 52, 0.7), rgba(14, 29, 52, 0.7)), url("../image/testimonials-bg.jpg") center center;
	background-size: cover;
	padding: 100px 0px;
	margin-bottom: 50px;
}
.s-img2{
	width: 98px;
    border-radius: 50%;
    margin: auto;
    display: block;
}
.sec9-h1{
	font-size: 19px;
    color: white;
    text-align: center;
    padding: 14px 0px 6px 0px;
}
.sec9-h2{
	color: lightgray;
    text-align: center;
}
.sec9-h3{
	color: white;
    text-align: center;
    width: 66%;
    margin: auto;
    line-height: 28px;
}
.box-div9{
	margin: auto;
    display: table;
}
.star{
	color: #ffc107;
    margin-right: 2px;
    padding: 20px 0px;
    font-size: 14px;
}
@media (max-width:576px){
	.sec9-h3{
		width: 94%;
	}
}
/***************************************section 9 end*********************************/



/***************************************section 10 start*******************************/
.bg-img9{
	background-color: #0e1d34;
    padding: 60px 70px;
}
.sec10-h1{
	color: white;
    font-size: 32px;
    padding-bottom: 10px;
}
.sec10-h2{
	color: white;
    font-size: 14px;
    padding-bottom: 30px;
    width: 335px;
}
.sec10-h3{
	color: white;
    padding-bottom: 20px;
}
.sec10-h4{
	color: lightgray;
	list-style-type: none;
}
.sec10-h4 li{
	padding-bottom: 20px;
}
.sec10-h5{
	color: white;
    padding-bottom: 20px;
}
.sec10-h6{
	color: white;
    padding-bottom: 20px;
}
.sec10-h7{
	color: white;
    width: 310px;
    padding-bottom: 40px;
    line-height: 29px;
}
.sec10-h8{
	color: white;
    padding-bottom: 10px;
}
.sec10-h9{
	text-align: center;
    color: white;
    padding-bottom: 10px;
}
.sec10-h10{
	color: white;
    text-align: center;
}
.box11, .box12{
	margin-right: -150px;
}
.box-div11{
	padding-top: 30px;
}
.b-6{
	padding: 8px 12px;
    font-size: 22px;
    border-radius: 50%;
    border: none;
    margin-right: 15px;
	background-color: transparent;
	border: 1px solid lightgray;
	transition: 0.3s;
}
.b-6 i{
	color: lightgray;
	transition: 0.3s;
}
.b-6:hover{
	border: 1px solid white; 
}
.b-6:hover i{
	color: white;
}
.s1{
	font-weight: bold;
}
@media (max-width: 1193px){
	.bg-img9{
		padding: 60px 20px;
	}
}
@media (max-width:1024px){
	.box-div12{
		flex-direction: column;
	}
	.bg-img9{
		padding: 60px 80px;
	}
	.box11, .box12{
		margin-right: 0px;
	}
	.box11{
		margin-top: 50px;
	}
	.box12{
		margin: 50px 0px;
	}
}
@media (max-width:425px){
	.bg-img9{
		padding: 60px 24px;
	}
}
@media (max-width:375px){
	.bg-img9{
		padding: 60px 15px;
	}
	.sec10-h2{
	    color: white;
		font-size: 13px;
		padding-bottom: 30px;
		width: 266px;
	}
	.sec10-h7{
		color: white;
		width: 232px;
		padding-bottom: 40px;
	}
}
@media (max-width:320px){
	.sec10-h2{
		width: 187px;
	}
}
/***************************************section 10 end*********************************/

